<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find meen_machine_description)/urdf/Snippets/Thruster_snippet.xacro"/>
  <xacro:include filename="$(find meen_machine_description)/urdf/Snippets/battery_snippets.xacro"/>
  <xacro:include filename="$(find meen_machine_description)/urdf/Snippets/misc.xacro"/>
</robot>