<?xml version="1.0"?>
<robot name="BlueRov2" xmlns:xacro="http://www.ros.org/wiki/xacro">



  <link name="thruster_3">
    <!-- <buoyancy><compensation>1.0</compensation></buoyancy> -->
    <visual>
    <origin xyz="-120 -14 96" rpy="0 1.57 0"/>
    <geometry>
      <mesh filename="package://bluerov_ros_playground/meshes/T100.STL" />
    </geometry>
    </visual>
    <collision>
    <origin xyz="-120 -14 96" rpy="0 1.57 0"/>
    <geometry>
      <mesh filename="package://bluerov_ros_playground/meshes/T100.STL" />
    </geometry>
    </collision>
    <!-- <inertial>
      <mass value=".1"/>
      <inertia
      ixx=".1"
      ixy="0.0"
      ixz="0.0"
      iyy=".1"
      iyz="0.0"
      izz=".1"/>
    </inertial> -->
     </link>

     <link name="thruster_4">
    <!-- <buoyancy><compensation>1.0</compensation></buoyancy> -->
    <visual>
    <origin xyz="-443 8 96" rpy="0 1.57 0"/>
    <geometry>
      <mesh filename="package://bluerov_ros_playground/meshes/T100.STL" />
    </geometry>
    </visual>
    <collision>
    <origin xyz="-443 8 96" rpy="0 1.57 0"/>
    <geometry>
      <mesh filename="package://bluerov_ros_playground/meshes/T100.STL" />
    </geometry>
    </collision>
    <!-- <inertial>
      <mass value=".1"/>
      <inertia
      ixx=".1"
      ixy="0.0"
      ixz="0.0"
      iyy=".1"
      iyz="0.0"
      izz=".1"/>
    </inertial> -->
     </link>

     <link name="thruster_2">
    <!-- <buoyancy><compensation>1.0</compensation></buoyancy> -->
    <visual>
    <origin xyz="-120 395 96" rpy="0 1.57 0"/>
    <geometry>
      <mesh filename="package://bluerov_ros_playground/meshes/T100.STL" />
    </geometry>
    </visual>
    <collision>
    <origin xyz="-120 395 96" rpy="0 1.57 0"/>
    <geometry>
      <mesh filename="package://bluerov_ros_playground/meshes/T100.STL" />
    </geometry>
    </collision>
    <!-- <inertial>
      <mass value=".1"/>
      <inertia
      ixx=".1"
      ixy="0.0"
      ixz="0.0"
      iyy=".1"
      iyz="0.0"
      izz=".1"/>
    </inertial> -->
     </link>

     <link name="thruster_1">
    <!-- <buoyancy><compensation>1.0</compensation></buoyancy> -->
    <visual>
    <origin xyz="-450 375 96" rpy="0 1.57 0"/>
    <geometry>
      <mesh filename="package://bluerov_ros_playground/meshes/T100.STL" />
    </geometry>
    </visual>
    <collision>
    <origin xyz="-450 375 96" rpy="0 1.57 0"/>
    <geometry>
      <mesh filename="package://bluerov_ros_playground/meshes/T100.STL" />
    </geometry>
    </collision>
    <!-- <inertial>
      <mass value=".1"/>
      <inertia
      ixx=".1"
      ixy="0.0"
      ixz="0.0"
      iyy=".1"
      iyz="0.0"
      izz=".1"/>
    </inertial> -->
     </link>

      



   <link name="base_link">
    <visual>
      <origin xyz="0.25 -0.26 -0.1" rpy="-1.57 -3.14 0"/>
      <geometry>
        <mesh filename="package://bluerov_ros_playground/meshes/newauv.STL"/>
      </geometry>
    </visual>
<!--     <inertial> -->
<!--       <origin xyz="-0.25 -0.26 0.1" rpy="0 0 0"/> -->
     <!--  <mass value="11"/>
    <inertia
      ixx="1"
      ixy="0"
      ixz="0"
      iyy="1"
      iyz="0"
      izz="1"/>
    </inertial>  -->
    <collision>
      <origin xyz="0.25 -0.26 -0.1" rpy="-1.57 -3.14 0"/>
      <geometry>
        <mesh filename="package://bluerov_ros_playground/meshes/auvmm.STL"/>
      </geometry>
    </collision>
    <!-- <buoyancy>
        <compensation>0.2525</compensation>
        <origin xyz= "0.12585 0.111 -0.8945"/>
    </buoyancy>
    <buoyancy>
        <compensation>0.2525</compensation>
        <origin xyz= "-0.12585 0.111 -0.8945"/>
    </buoyancy>
    <buoyancy>
        <compensation>0.2525</compensation>
        <origin xyz= "-0.12585 -0.111 -0.8945"/>
    </buoyancy>
    <buoyancy>
        <compensation>0.2525</compensation>
        <origin xyz= "0.12585 -0.111 -0.8945"/>
    </buoyancy> -->
  </link>

  <joint name="thruster_3_base_link" type="fixed">
        <parent link="base_link"/>
        <child link="thruster_3"/>
        <origin rpy="0 0 0" xyz="0.25 10.26 100"/>
      </joint>

<joint name="thruster_4_base_link" type="fixed">
        <parent link="base_link"/>
        <child link="thruster_4"/>
        <origin rpy="0 0 0" xyz="0.25 -10.26 100"/>
      </joint>

<joint name="thruster_2_base_link" type="fixed">
        <parent link="base_link"/>
        <child link="thruster_2"/>
        <origin rpy="0 0 0" xyz="-0.25 -10.26 100"/>
      </joint>

<joint name="thruster_1_base_link" type="fixed">
        <parent link="base_link"/>
        <child link="thruster_1"/>
        <origin rpy="0 0 0" xyz="-0.25 10.26 100"/>                        
      </joint>

</robot>
